.form{
    display: block;
    text-align: center;
    background-color: aqua;
    border-style: solid;
    border-width: 3px;
    padding: 40px 0;
    color: white;
}
.form div {
    padding: 20px;

}
.button {
    background-color: white;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: medium;
}

.button :hover{
    background-color: aqua;
}
.button :active{
    background-color: white;
}
input, label {
    display: block;
    margin: auto;
}