*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header {
    display: flex;
    flex-wrap:wrap;
    top: 0; 
    background-image:url(dog-and-cat-background.htm);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.welcome-header {
    font-style: italic;
    font-size: larger;
    margin: 0;
}
.nav-header ul li a{
    padding-top: 0; 
    color: black;
    text-shadow: none;
}
.nav-header ul li a:hover{
    border-radius: 12px;
    text-shadow: none;
    background: transparent;
}
main {
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
}